@keyframes fly-cycle {
	100% {
		background-position: -900px 0;
	}
}

$opacityList: 1.0, 1.0, 1.0, 1.0, 1.0, 0.8, 0.6, 0.4, 0.2, 0.0, 0.0;
$scales: 1.5, 1.2, 1.0, 0.8, 0.6, 0.6, 0.5, 0.5, 0.4, 0.3, 0.2;
@keyframes fly-path {
	@for $i from 0 through 10 {
		#{$i * 10%} {
			opacity: nth($opacityList, $i+1);
			transform: translateX(10*$i+ unquote("vw")) 
					   translateY(random()*10 + unquote("vh"))
					   scale(nth($scales, $i+1));
		    fill: white;	
		} 
	}
}